.skills {
  background-color: var(--main-color);
  min-height: 80vh;
  padding: var(--vertical-padding) 0;
  text-align: center;
}

.skills-container {
  margin: 0 auto;
  width: 90%;
}

.skills-container > h1 {
  color: white;
}

.skill-card-container {
  margin: 0 auto;
  width: 100%;
}

.skill-card {
  background-color: white;
  border-radius: var(--border-radius);
  margin: 20px auto;
  width: 95%;
  padding: 30px 0;
}

.skill-icon-container {
  display: flex;
  background-color: var(--action-color);
  border-radius: 50px;
  width: 70px;
  height: 70px;
  margin: 10px auto;
}

.fa-solid {
  color: white;
  position: relative;
  top: 17px;
  left: 14px;
  font-size: 2.2rem;
}

.fa-laptop-code {
  left: 13px;
}

.fa-bug {
  left: 17px;
}

.skill-text-section-heading {
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-style: italic;
  text-decoration: 3px underline var(--action-color);
}

.skill-text-section-content {
  margin: 0 auto;
  width: 80%;
  font-size: 1.1rem;
  line-height: 1.5;
}

.skill {
  font-style: italic;
  text-decoration: 2px underline var(--action-color);
}

@media only screen and (min-width: 768px) {
  .skill-card-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .skill-card {
    width: 31%;
  }
}

@media only screen and (min-width: 1200px) {
  .skills-container {
    width: 80%;
  }
}
