* {
  box-sizing: border-box;
}

:root {
  --border-radius: 30px;
  --vertical-padding: 15px;
  --white: #ffffff;
  --dark-blue: #141c3a;
  --main-color: #474747;
  --action-color: #00c896;
}

::-webkit-scrollbar {
  border-radius: var(--border-radius);
  width: 13px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: #888;
  box-shadow: 10px 15px 5px #4d4d4d inset;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
  font-weight: 100;
  word-spacing: 3px;
  line-height: 1.5;
  color: var(--dark-blue);
}

h1,
h2 {
  color: var(--dark-blue);
}

h1 {
  font-size: 2.1rem;
}

li {
  list-style-type: none;
}

.hamburger-btn {
  display: block;
  background-color: var(--action-color);
  border-radius: var(--border-radius);
  border: none;
  margin-left: 5px;
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.25s ease-in-out;
  background-color: white;
}

.hamburger-btn.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-btn.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger-btn.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.navbar {
  position: fixed;
  top: 0;
  background-color: var(--main-color);
  width: 100%;
  height: 40px;
  padding: 5px 0;
  z-index: 10;
}

.navbar-list {
  background-color: var(--main-color);
  position: relative;
  top: -200px;
  margin: 5px auto;
  width: 100%;
  padding: 0;
  text-align: center;
  z-index: -1;
  transition: 0.25s ease-in-out;
}

.navbar-list-active {
  top: 0;
}

.navbar-link {
  box-sizing: content-box;
  display: block;
  padding: 5px;
  width: 100%;
  text-decoration: underline var(--main-color) 2px;
  font-size: 1.2rem;
  color: white;
  transition: background-color 0.5s ease-out, text-decoration 0.5s ease-out,
    color 0.5s ease-out;
}

.navbar-link:hover {
  box-sizing: content-box;
  text-decoration: underline var(--action-color) 2px;
  color: var(--action-color);
  transition: text-decoration 0.5s ease-out, color 0.5s ease-out;
}

.welcome-section {
  background-color: white;
  margin: 50px auto 10px;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  padding: var(--vertical-padding) 0;
  text-align: center;
}

.about-container {
  position: relative;
  top: 100px;
  margin: 50px auto 120px;
  width: 90%;
}

.about-heading {
  margin: 50px auto;
  font-size: 2.1rem;
}

.about-text {
  margin: 20px auto;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

.skills {
  background-color: var(--main-color);
  min-height: 80vh;
  padding: var(--vertical-padding) 0;
  text-align: center;
}

.skills-container {
  margin: 0 auto;
  width: 90%;
}

.skills-container > h1 {
  color: white;
}

.skill-card-container {
  margin: 0 auto;
  width: 100%;
}

.skill-card {
  background-color: white;
  border-radius: var(--border-radius);
  margin: 20px auto;
  width: 95%;
  padding: 30px 0;
}

.skill-icon-container {
  display: flex;
  background-color: var(--action-color);
  border-radius: 50px;
  width: 70px;
  height: 70px;
  margin: 10px auto;
}

.fa-solid {
  color: white;
  position: relative;
  top: 17px;
  left: 14px;
  font-size: 2.2rem;
}

.fa-laptop-code {
  left: 13px;
}

.fa-bug {
  left: 17px;
}

.skill-text-section-heading {
  margin-bottom: 30px;
  font-size: 1.8rem;
  font-style: italic;
  text-decoration: 3px underline var(--action-color);
}

.skill-text-section-content {
  margin: 0 auto;
  width: 80%;
  font-size: 1.1rem;
  line-height: 1.5;
}

.skill {
  font-style: italic;
  text-decoration: 2px underline var(--action-color);
}

.projects {
  background-color: var(--white);
  min-height: 150vh;
  padding: var(--vertical-padding) 0;
  text-align: center;
}

.projects-container {
  margin: 0 auto;
  width: 90%;
}

.projects-grid {
  width: 100%;
  margin: 0 auto;
}

.project-tile {
  background-color: var(--action-color);
  border-radius: var(--border-radius);
  width: 95%;
  max-width: 450px;
  margin: 0 auto 20px;
  transition: all 0.25s ease-in-out;
}

.project-tile:hover {
  transform: scale(1.2);
}

.project-tile > a {
  color: white;
  text-decoration: none;
  text-align: center;
}

.project-tile > a > span {
  position: fixed;
  top: 100px;
  left: 50px;
  font-size: 1.6rem;
  color: black;
  z-index: -1;
  transition: all 0.25s ease-in-out;
}

.project-tile > a > img {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.25s ease-in-out;
}

.project-tile:hover > a > span {
  color: white;
  z-index: 1;
}

.project-tile:hover > a > img {
  opacity: 0.3;
}

.contact {
  background-color: var(--main-color);
  height: 82vh;
  padding: var(--vertical-padding) 0;
  text-align: center;
  color: var(--white);
}

.contact-container {
  margin: 0 auto;
  width: 90%;
}

.contact-container > h1 {
  color: white;
}

.contact-container > p {
  font-size: 1.1rem;
}

form {
  margin: 0 auto;
}

input,
textarea {
  display: block;
  border: none;
  border-radius: var(--border-radius);
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  font-family: europa, sans-serif;
}

textarea {
  min-height: 200px;
}

input:focus,
textarea:focus {
  outline: 1px solid var(--action-color);
}

.submit-btn {
  background-color: var(--action-color);
  border: 2px solid;
  border-color: var(--action-color);
  border-radius: var(--border-radius);
  width: 100px;
  font-size: 1.3rem;
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out,
    color 0.5s ease-out;
}

.submit-btn:hover {
  background-color: var(--main-color);
  border-color: var(--action-color);
  color: var(--action-color);
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out,
    color 0.5s ease-out;
}

.submit-btn:focus {
  outline: none;
}

.icon-section {
  display: flex;
  justify-content: center;
  padding: 40px 0 30px;
}

.icon-container {
  background-color: var(--main-color);
  border: 2px solid var(--white);
  border-radius: var(--border-radius);
  margin: 0 20px;
  width: 60px;
  height: 60px;
  transition: background-color 0.5s ease-out;
}

.icon-container > i {
  position: relative;
  top: 9px;
  font-size: 40px;
  color: white;
  transition: color 0.5s ease-out;
}

.icon-container:hover {
  background-color: var(--white);
  border: 2px solid var(--main-color);
}

.icon-container > i:hover {
  color: var(--main-color);
}

@media only screen and (min-width: 768px) {
  .navbar {
    height: 40px;
  }

  .hamburger-btn {
    display: none;
  }

  .navbar-list {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  .welcome-section {
    min-height: 100vh;
    height: fit-content;
  }

  .skill-card-container {
    display: flex;
    width: 100%;
    margin: 0 auto;
  }

  .skill-card {
    width: 31%;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 380px 380px;
    grid-template-rows: 300px 300px;
    grid-gap: 1rem;
    justify-content: center;
  }

  .project-tile {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .projects-grid {
    grid-template-columns: 32% 32% 32%;
    grid-template-rows: 270px 270px 270px;
    grid-gap: 1rem;
  }

  .project-tile {
    width: 95%;
  }
}

@media only screen and (min-width: 1200px) {
  .about-line-break {
    display: none;
  }

  .about-container,
  .skills-container,
  .projects-container,
  .contact-container {
    width: 80%;
  }

  .projects-grid {
    grid-template-columns: 31% 31% 31%;
    grid-template-rows: 290px 290px 290px;
    grid-gap: 1.3rem;
  }

  .project-tile {
    width: 100%;
  }
}
