* {
  box-sizing: border-box;
}

:root {
  --border-radius: 30px;

  --black: #222222;
  --lighter-black: #252934;

  --light-white: #f5f5f5;
  --white: #ffffff;

  --greyish: #626997;
  --dark-blue: #141c3a;

  --purple: #6e07f3;
  --cyan: #07ddf3;
  --orange: #ffa500;
  --red: #fb3636;

  --green: #61ff65;
  --darker-green: #4ac64e;

  --main-color: #474747;
  --action-color: #00c896;

  /* --body-background: var(--black);
  --body-font: var(--black);
  --h1: var(--black);

  --navbar-background: var(--black);
  --navbar-ul-a-hover: var(--black);

  --skills-background: var(--purple);
  --skills-icon-section-fa-solid-background: var(--cyan);

  --projects-background: var(--light-white);
  --contact-background: var(--black);
  --contact-font: var(--white);

  --input-textarea-outline: var(--orange);

  --icon-container-background: var(--black);
  --icon-container-border: var(--white);
  --icon-container-background-hover: var(--white);
  --icon-container-i-hover: var(--black);
  */

  --body-background: var(--main-color);
  --body-font: var(--dark-blue);
  --h1: var(--dark-blue);

  --navbar-background: var(--main-color);
  --navbar-ul-a-backgorund-hover: var(--figma-green);
  --navbar-ul-a-hover: var(--action-color);

  --skills-background: var(--main-color);
  --skills-icon-section-fa-solid-background: var(--action-color);

  --projects-background: var(--white);

  --contact-background: var(--main-color);
  --contact-font: var(--white);

  --input-textarea-outline: var(--action-color);

  --submit-btn-background: var(--action-color);

  --icon-container-background: var(--main-color);
  --icon-container-border: var(--white);

  --icon-container-background-hover: var(--white);
  --icon-container-border-hover: var(--main-color);

  --icon-container-i-hover: var(--main-color);
}

::-webkit-scrollbar {
  border-radius: var(--border-radius);
  width: 13px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: #888;
  box-shadow: 10px 15px 5px #4d4d4d inset;
}

body {
  background-color: var(--body-background);
  margin: 0;
  padding: 0;
  font-family: "europa", sans-serif;
  font-weight: 100;
  word-spacing: 3px;
  line-height: 1.5;
  color: var(--body-font);
}

h1,
h2 {
  color: var(--h1);
  font-family: "Fira Code", monospace;
}

h1 {
  font-size: 2.1rem;
}

#navbar {
  position: fixed;
  background-color: var(--navbar-background);
  width: 100%;
  display: flex;
  justify-content: space-around;
  z-index: 10;
}

#navbar > ul {
  margin: 5px auto;
  width: 100%;
  max-width: 700px;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#navbar > ul > a {
  padding: 5px;
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

#navbar > ul > a:hover {
  background-color: var(--navbar-ul-a-backgorund-hover);
  text-decoration: underline var(--navbar-ul-a-hover) 2px;
  color: var(--navbar-ul-a-hover);
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}

#welcome-section {
  background-color: white;
  padding: 120px 0 10px 0;
  width: 100%;
  height: 100vh;
  text-align: center;
}

.about-container {
  width: 80%;
  margin: 0 auto;
}

.about-heading {
  margin: 50px auto;
  font-size: 2.1rem;
}

.about-text {
  margin: 20px auto;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

#skills {
  background-color: var(--skills-background);
  min-height: 80vh;
  padding: 15px 0;
  text-align: center;
}

#skills > h1 {
  color: white;
}

.skills-container {
  margin: 0 auto;
  width: 80%;
}

.skill-card {
  background-color: white;
  border-radius: var(--border-radius);
  margin: 20px auto;
  width: 95%;
  padding-bottom: 30px;
}

.skill-icon-container {
  display: flex;
  background-color: var(--skills-icon-section-fa-solid-background);
  border-radius: 50px;
  width: 80px;
  height: 80px;
  margin: 50px auto;
}

.skill-icon-container > .fa-solid {
  color: white;
  position: relative;
  top: 20px;
  left: 18px;
  font-size: 2.4rem;
}

.skill-text-section > h2 {
  margin-bottom: 30px;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.8rem;
  font-style: italic;
  text-decoration: underline var(--action-color) 3px;
}

.skill-text-section > p {
  margin: 0 auto;
  width: 80%;
  font-size: 1.1rem;
  line-height: 1.5;
}

.skill-text-section > p > span {
  font-family: "Nanum Gothic Coding", monospace;
  font-style: italic;
}

.skill-list-section > h3 {
  font-family: "Nanum Gothic Coding", monospace;
}

.skill-list-section > p {
  margin: 0 auto;
  width: 80%;
  font-size: 1.1rem;
}

#projects {
  background-color: var(--projects-background);
  min-height: 150vh;
  padding: 50px 0 100px;
  text-align: center;
}

.projects-container {
  margin: 0 auto;
  width: 80%;
}

.projects-grid {
  width: 100%;
  margin: 0 auto;
}

.project-tile {
  background-color: white;
  border-radius: var(--border-radius);
  width: 95%;
  max-width: 450px;
  margin: 0 auto 20px;
}

.project-tile > a {
  color: white;
  text-decoration: none;
}

.project-tile > a > img {
  border-radius: var(--border-radius);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-name > p {
  margin: 0;
}

#contact {
  background-color: var(--contact-background);
  height: 70vh;
  text-align: center;
  color: var(--contact-font);
}

#contact > .contact-container > h1 {
  color: white;
}

#contact > .contact-container > p {
  font-size: 1.1rem;
}

form {
  margin: 0 auto;
}

input,
textarea {
  display: block;
  border: none;
  border-radius: var(--border-radius);
  margin: 20px auto;
  padding: 10px;
  width: 500px;
}

textarea {
  min-height: 200px;
}

input:focus,
textarea:focus {
  outline: 2px solid var(--input-textarea-outline);
}

.submit-btn {
  background-color: var(--submit-btn-background);
  border-radius: var(--border-radius);
  width: 100px;
  font-size: 1.3rem;
  color: var(--white);
  cursor: pointer;
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.submit-btn:hover {
  background-color: var(--white);
  color: var(--submit-btn-background);
  transition: background-color 0.5s ease-out, color 0.5s ease-out;
}

.submit-btn:focus {
  outline: none;
}

.icon-section {
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
}

.icon-container {
  background-color: var(--icon-container-background);
  border: 2px solid var(--icon-container-border);
  border-radius: var(--border-radius);
  margin: 0 20px;
  width: 60px;
  height: 60px;

  transition: background-color 0.5s ease-out;
}

.icon-container > i {
  position: relative;
  top: 9px;
  font-size: 40px;
  color: white;

  transition: color 0.5s ease-out;
}

.icon-container:hover {
  background-color: var(--icon-container-background-hover);
  border: 2px solid var(--icon-container-border-hover);
}

.icon-container > i:hover {
  color: var(--icon-container-i-hover);
}

@media only screen and (min-width: 768px) {
  #welcome-section {
    min-height: 100vh;
    height: fit-content;
  }

  .skills-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  .skill-card {
    width: 31%;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 380px 380px;
    grid-template-rows: 300px 300px;
    grid-gap: 1rem;
    justify-content: center;
  }

  .project-tile {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .projects-grid {
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 270px 270px 270px;
    grid-gap: 1rem;
  }

  .project-tile {
    width: 95%;
  }
}

@media only screen and (min-width: 1200px) {
  .about-line-break {
    display: none;
  }

  .about-container,
  .skills-container {
    width: 80%;
  }

  .projects-grid {
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 290px 290px 290px;
    grid-gap: 1rem;
  }

  .project-tile {
    width: 100%;
  }
}
