* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  border-radius: 15px;
  width: 13px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: 15px;
  background: #888;
  box-shadow: 10px 15px 5px #4d4d4d inset;
}

body {
  background-color: #222222;
  margin: 0;
  padding: 0;
  font-family: "europa", sans-serif;
  color: #222222;
}

h1 {
  color: #222222;
  font-size: 2.1rem;
}

#navbar {
  background-color: #222222;
  width: 100%;
  max-width: 700px;
  display: flex;
  justify-content: space-around;
}

#navbar > ul {
  width: 100%;
  padding: 0;
  display: flex;
  justify-content: space-around;
}

#navbar > ul > a {
  border-radius: 25px;
  padding: 5px;
  text-decoration: none;
  color: white;
  font-size: 1.2rem;

  transition: color 1s;
  transition: background-color 1s;
}

#navbar > ul > a:hover {
  background-color: white;
  border-radius: 25px;
  color: #222222;
}

#welcome-section {
  background-color: white;
  padding: 120px 0 10px 0;
  width: 100%;
  height: 100vh;
}

.about-container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.about-heading {
  margin: 50px auto;
  font-size: 2.1rem;
}

.about-text {
  margin: 20px auto;
  font-size: 1.1rem;
  line-height: 1.8rem;
}

#skills {
  background-color: #6e07f3;
  min-height: 100vh;
  padding: 15px 0;
}

.skill-card {
  background-color: white;
  border-radius: 10px;
  margin: 20px auto;
  width: 95%;
  /* height: 100%; */
  padding-bottom: 30px;
}

.skill-icon-section {
  display: flex;
  height: 30%;
}

.skill-icon-section > .fa-solid {
  background-color: #07ddf3;
  border-radius: 50px;
  width: 80px;
  height: 80px;
  margin: 50px auto;
  font-size: 2.4rem;
}

.skill-text-section {
  text-align: center;
}

#contact > p .skill-text-section > h3 {
  margin-bottom: 30px;
  font-family: "Nanum Gothic Coding", monospace;
  font-size: 1.4rem;
}

.skill-text-section > p {
  margin: 0 auto;
  width: 80%;
  font-size: 1.1rem;
  line-height: 1.5;
}

#projects {
  background-color: #f5f5f5;
  height: fit-content;
  padding: 50px 0 100px;
}

.projects-heading {
  text-align: center;
}

.projects-grid {
  width: 100%;
  margin: 0 auto;
}

.project-tile {
  background-color: white;
  border-radius: 5px;
  width: 90%;
  /* height: fit-content; */
  margin: 0 auto 20px;
}

.project-tile > a {
  text-decoration: none;
  color: white;
}

.project-tile > a > img {
  border-radius: 5px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project-name {
  background-color: white;
  border: 1px solid black;
  border-radius: 3px;
  padding: 5px 0;
  text-align: center;
  font-size: 1.2rem;
  color: black;
}

.project-name > p {
  margin: 0;
}

#contact {
  background-color: #222222;
  height: 80vh;
}

#contact > h1 {
  text-align: center;
  color: white;
}
#contact > p {
  font-size: 1.1rem;
  text-align: center;
  color: white;
}

form {
  margin: 50px auto;
}

input,
textarea {
  display: block;
  border: none;
  border-radius: 8px;
  margin: 20px auto;
  padding: 10px;
  width: 400px;
}

textarea {
  min-height: 200px;
}

input:focus,
textarea:focus {
  outline: 2px solid orange;
}

.icon-section {
  display: flex;
  justify-content: center;
  margin: 100px auto;
}

.icon-container {
  background-color: #222222;
  border: 1px solid white;
  border-radius: 10px;
  margin: 0 20px;
  width: 60px;
  height: 60px;

  transition: background-color 0.5s;
}

.icon-container > i {
  position: relative;
  top: 9px;
  left: 9px;
  font-size: 40px;
  color: white;

  transition: color 0.5s;
}

.icon-container:hover {
  background-color: white;
}

.icon-container > i:hover {
  color: #222222;
}

@media only screen and (min-width: 600px) {
  #navbar > ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  #navbar > ul > a {
    font-size: 1.4rem;
  }

  .about-container,
  .skill-card,
  .project-tile {
    width: 80%;
  }
}

@media only screen and (min-width: 768px) {
  #welcome-section {
    min-height: 100vh;
    height: fit-content;
  }

  .skill-card-container {
    display: flex;
    width: 90%;
    margin: 0 auto;
  }

  .skill-card {
    width: 31%;
  }

  .projects-grid {
    display: grid;
    grid-template-columns: 400px 400px;
    grid-template-rows: 320px 320px;
    grid-gap: 2rem;
    justify-content: center;
  }

  .project-tile {
    width: 90%;
  }
}

@media only screen and (min-width: 992px) {
  .projects-grid {
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 320px 320px 320px;
    grid-gap: 1rem;
  }

  .project-tile {
    width: 95%;
  }
}

@media only screen and (min-width: 1200px) {
  .about-line-break {
    display: none;
  }

  .about-container,
  .skill-card-container {
    width: 60%;
  }

  .projects-grid {
    grid-template-columns: 400px 400px 400px;
    grid-template-rows: 320px 320px 320px;
    grid-gap: 1rem;
  }

  .project-tile {
    width: 100%;
  }
}
