.skill-card {
  background-color: var(--white);
  border: 1px solid #fff;
  border-radius: var(--border-radius);
  margin: 0 auto var(--spacing-xs);
  width: 100%;
  max-width: 400px;
  height: 100%;
  padding: var(--spacing-md) 0;
  box-shadow: 0px 0px 10px #14205f80;
}

.skill-icon-container {
  display: flex;
  background: rgb(26, 255, 140);
  background: linear-gradient(
    90deg,
    rgba(26, 255, 140, 1) 0%,
    rgba(236, 255, 0, 1) 100%
  );
  border-radius: 50px;
  width: 70px;
  height: 70px;
  margin: var(--spacing-sm) auto;
}

.skill-icon-container > svg {
  position: relative;
  top: 22%;
  left: 22%;
  font-size: 40px;
  color: var(--white);
}
.skill-text-section {
  height: 60%;
}

.skill-text-section-heading {
  margin-bottom: var(--spacing-md) !important;
  font-family: var(--main-font) !important;
  font-style: italic;
  color: var(--font-color);
}

.skill-text-section-content {
  margin: 0 auto !important;
  height: 100% !important;
  width: 80%;
  color: var(--font-color);
}

.skill-text-section-content {
  font-family: var(--secondary-font) !important;
  font-style: italic;
  color: var(--font-color);
}

.skill-text-section-content > span {
  color: #1aff8dd6 !important;
}

.skill-list {
  height: 80%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly !important;
}
