.navbar a {
  max-width: 200px;
  text-decoration: none;
  color: var(--font-color);
}

.hamburger-button {
  color: var(--action-color-light);
}

.navbar {
  position: fixed;
  top: 0;
  background-color: var(--main-color) !important;
  width: 100%;
  padding: 5px 0;
  z-index: 10;
}

.MuiToolbar-root {
  min-height: 50px !important;
}

.MuiMenu-paper {
  border-radius: 15px !important;
}

.MuiMenu-paper a {
  text-decoration: none !important;
  text-decoration: none;
  color: var(--font-color);
}

.navbar-buttons-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.navbar-button {
  background-color: white !important;
  border: none !important;
  border: 1px solid var(--action-color) !important;
  border-radius: 25px !important;
  width: 200px;
  height: 40px;
  font-size: 18px !important;
  color: var(--font-color) !important;
  transition: all 0.25s ease-in-out !important;
}

.navbar-button:hover {
  background-color: var(--action-color) !important;
  color: white !important;
}

.navbar-menu-item {
  text-transform: capitalize;
}
