.single-project-container {
  padding: 200px 0;
}

.project-title {
  margin-bottom: 100px !important;
  font-family: var(--main-font) !important;
  font-style: italic;
}

.content {

}

.image-container {
}

.project-image {
  border-radius: 10px;
  width: 100%;
  margin-bottom: 100px !important;
}

.project-description {
  line-height: 2 !important;
  margin-bottom: 20px !important;
}
