.welcome-section {
  background-color: var(--white);
  width: 100%;
  min-height: 100vh;
  padding: var(--spacing-lg) 0;
  text-align: center;
}

.home-container {
  height: 840px;
  width: 90%;
  margin: 0 auto;
}

.home-heading {
  position: relative;
  top: var(--spacing-xl);
  font-family: var(--main-font) !important;
  font-style: italic;
}

.home-text-name {
  background: #00cf98;
  background: linear-gradient(to right, #00cf98 0%, #ccff11 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: var(--spacing-md) !important;
}

.home-text-profession {
  color: var(--main-font);
  margin-bottom: var(--spacing-lg) !important;
}

.home-text-home-me {
  position: relative;
  top: calc(var(--spacing-xl) + var(--spacing-md));
  margin: 0 auto !important;
  max-width: 450px;
  line-height: 2.2 !important;
  color: var(--font-color);
  font-family: var(--secondary-font) !important;
}

@media only screen and (min-width: 768px) {
  .welcome-section {
    min-height: 100vh;
    height: fit-content;
  }
}

@media only screen and (min-width: 1200px) {
  .home-line-break {
    display: none;
  }
}
