.contact {
  /* background-color: #0f0f1b !important; */
  background: rgb(15, 15, 27);
  background: linear-gradient(
    90deg,
    rgba(15, 15, 27, 1) 0%,
    rgba(81, 81, 89, 1) 60%,
    rgba(135, 135, 141, 1) 80%,
    rgba(255, 255, 255, 1) 100%
  );
}

.contact-card {
  background-color: transparent;
  /* border: 1px solid #00ff94; */
  border: 1px solid #fff;
  /* box-shadow: 0px 4px 10px #00ff94; */
  box-shadow: 0px 2px 10px #fff;
}

.contact-heading,
.contact-container > p {
  color: white;
}

.icon-container {
  background-color: transparent;
  border: 1px solid #00ff94;
}

.icon-container:hover {
  background-color: #00ff94 !important;
  border: 1px solid #00ff94 !important;
}

.icon-container > svg {
  /* color: #00ff94; */
  color: #fff;
}

.icon-container:hover.icon-container > svg {
  color: #0f0f1b;
}

input,
textarea {
  /* border: 1px solid #00ff94; */
  border: 1px solid #fff;
}

::placeholder {
  color: white;
}

.submit-btn {
  background-color: transparent;
  border: 1px solid #00ff94;
  color: white;
  transition: all 1.25s ease-in-out;
}

.submit-btn:hover {
  background-color: #00ff94;
  color: black;
}
