.contact {
  /* background-color: #0f0f1b !important; */
  background: rgb(15, 15, 27);
  background: linear-gradient(
    90deg,
    rgba(15, 15, 27, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.contact-card {
  /* background-color: transparent; */
  background-color: #fff;
  /* border: 1px solid #00ff94; */
  border: 1px solid #fff;
  /* box-shadow: 0px 4px 10px #00ff94; */
  /* box-shadow: 0px 2px 10px #fff; */
  box-shadow: 0px 0px 10px #14205f80;
}

.contact-heading,
.contact-container > p {
  color: white;
}

.icon-container {
  border: none;
  background-color: transparent;
}

.icon-container:hover {
  border: none;
  background-color: #00ff94 !important;
}

.icon-container > svg {
  color: #00ff94;
}

.icon-container:hover.icon-container > svg {
  color: white;
}

input,
textarea {
  /* border: 1px solid #00ff94; */
  border: 1px solid silver;
}

::placeholder {
  /* color: white; */
  color: silver;
}

.submit-btn {
  border: none;
  background-color: transparent;
  /* border: 1px solid #00ff94; */
  /* color: white; */
  color: #00ff94;
  transition: all 0.5s ease-in-out !important;
}

.submit-btn:hover {
  border: none;
  background-color: #00ff94;
  color: white;
}
