.contact {
  background: rgb(26, 255, 140);
  background: linear-gradient(
    90deg,
    rgba(26, 255, 140, 1) 0%,
    rgba(236, 255, 0, 1) 100%
  );
  min-height: 100vh;
  padding: var(--vertical-padding) 0;
  text-align: center;
  /* color: var(--white); */
  color: var(--font-color);
}

.contact-container {
  margin: 0 auto;
  width: 90%;
}

.contact-card {
  background-color: white;
  border: 1px solid #fff;
  border-radius: 25px;
  margin: 0 auto 50px;
  width: 600px;
  box-shadow: 0px 0px 10px #14205f80;
}

.contact-heading {
  margin-bottom: 50px !important;
  font-style: italic;
  color: var(--font-color);
}

.contact-container > p {
  font-size: 1.1rem;
}

.icon-section {
  display: flex;
  justify-content: center;
  padding: 40px 0 30px;
}

.icon-container {
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  margin: 0 20px;
  width: 60px;
  height: 60px;
  transition: background-color 0.5s ease-out;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.icon-container:hover {
  background-color: #00ff94 !important;
  border: none;
}

.icon-container > svg {
  position: relative;
  top: 9px;
  font-size: 40px;
  color: #00ff94;
  transition: color 0.5s ease-out;
}

.icon-container:hover.icon-container > svg {
  color: white;
}

form {
  margin: 0 auto;
}

input,
textarea {
  background-color: rgba(0, 0, 0, 0%);
  display: block;
  border: 1px solid silver;
  border-radius: var(--border-radius);
  margin: 20px auto;
  padding: 10px;
  width: 100%;
  max-width: 500px;
  font-family: europa, sans-serif;
  color: var(--font-color);
}

textarea {
  min-height: 200px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--action-color);
}

::placeholder {
  color: silver;
  font-style: italic;
}

.submit-btn {
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  margin-bottom: 30px;
  padding: 10px 20px;
  font-size: 1.3rem;
  color: #00ff94;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s ease-in-out !important;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.submit-btn:hover {
  border: none;
  /* background-color: #00ff94; */
  background: rgb(26, 255, 140);
  background: linear-gradient(
    360deg,
    rgba(26, 255, 140, 1) 0%,
    rgba(236, 255, 0, 1) 100%
  );
  
  color: var(--white);
  transition: background-color 0.5s ease-out, border-color 0.5s ease-out,
    color 0.5s ease-out;
}

.submit-btn:focus {
  outline: none;
}

@media only screen and (min-width: 1200px) {
}
