.contact {
  background: rgb(26, 255, 140);
  background: linear-gradient(
    90deg,
    rgba(26, 255, 140, 1) 0%,
    rgba(236, 255, 0, 1) 100%
  );
  min-height: var(--skills-contact-height);
  padding: var(--spacing-lg) 0;
  text-align: center;
  color: var(--font-color);
}

.contact-container {
  margin: 0 auto;
  width: 90%;
}

.contact-card {
  background-color: var(--white);
  border: 1px solid #fff;
  border-radius: 25px;
  margin: 0 auto;
  max-width: 500px;
  height: 600px;
  box-shadow: 0px 0px 10px #14205f80;
}

.contact-heading {
  margin-bottom: var(--spacing-lg) !important;
  font-style: italic;
  color: var(--font-color);
}

.contact-container p {
  font-family: var(--secondary-font) !important;;
}

.icon-section {
  max-width: 400px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.icon-container {
  position: relative;
  top: 20px;
  background: white;
  border: none;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease-in-out !important;
}

.icon-container:hover {
  background: rgb(26, 255, 140);
  background: linear-gradient(
    90deg,
    rgba(26, 255, 140, 1) 0%,
    rgba(236, 255, 0, 1) 100%
  );
}

.icon-container > svg {
  position: relative;
  top: 10px;
  font-size: 40px;
  color: var(--social-icon-color);
  transition: all 0.1s !important;
}

.icon-container:hover.icon-container > svg {
  color: var(--white);
}

form {
  margin: 0 auto;
}

input,
textarea {
  background-color: rgba(0, 0, 0, 0%);
  display: block;
  border: 1px solid silver;
  border-radius: var(--border-radius);
  margin: var(--spacing-sm) auto;
  padding: var(--spacing-xs);
  width: 80%;
  max-width: 500px;
  font-family: europa, sans-serif;
  color: var(--font-color);
}

textarea {
  min-height: 200px;
}

input:focus,
textarea:focus {
  outline: none;
  border: 1px solid var(--action-color);
}

::placeholder {
  color: silver;
  font-style: italic;
}

.submit-btn {
  background-color: transparent;
  border: none;
  border-radius: var(--border-radius);
  padding: var(--spacing-xs) var(--spacing-sm);
  font-family: var(--secondary-font) !important;
  font-weight: bold !important;
  font-size: 20px;
  color: var(--social-icon-color) !important;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.25s ease-in-out !important;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.15);
}

.submit-btn:hover {
  border: none;
  background: rgb(26, 255, 140);
  background: linear-gradient(
    90deg,
    rgba(26, 255, 140, 1) 0%,
    rgba(236, 255, 0, 1) 100%
  );
  padding: var(--spacing-xs) var(--spacing-md);
  color: var(--font-color) !important;
}

.submit-btn:focus {
  outline: none;
}

@media only screen and (min-width: 1200px) {
}
