:root {
  --border-radius: 30px;
  --vertical-padding: 15px;
  --white: #fff;
  --font-color: #333;
  --main-color: #fff;
  --main-color-light: #f0f0f0;
  --action-color: #00ff80;
  --action-color-light: #84ffa9;
}

::-webkit-scrollbar {
  border-radius: var(--border-radius);
  width: 13px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: #888;
  box-shadow: 10px 15px 5px #4d4d4d inset;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Fira Code", monospace;
  font-weight: 100;
  word-spacing: 3px;
  line-height: 1.5;
  color: var(--dark-blue);
}

div {
  box-sizing: border-box;
}

h1,
h2 {
  color: var(--dark-blue);
}

h1 {
  font-size: 2.1rem;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
}
