.projects {
  background-color: var(--white);
  min-height: 150vh;
  padding: var(--vertical-padding) 0;
  text-align: center;
}

.projects-heading {
  margin-bottom: 50px !important;
  font-style: italic;
  color: var(--font-color);
}

.projects-container {
  margin: 0 auto;
  width: 90%;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
