.projects {
  background-color: var(--white);
  min-height: 150vh;
  padding: var(--spacing-lg) 0;
  text-align: center;
}

.projects-heading {
  margin-bottom: var(--spacing-lg) !important;
  font-style: italic;
  color: var(--font-color);
}

.projects-container {
  margin: 0 auto;
  width: 90%;
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
