.welcome-section {
  background-color: white;
  margin: 50px auto 10px;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  padding: var(--vertical-padding) 0;
  text-align: center;
}

.about-container {
  position: relative;
  top: 100px;
  margin: 50px auto 120px;
  width: 90%;
}

.about-heading {
  position: relative;
  top: 60px;
  /* font-family: 'Permanent Marker', cursive !important;  */
  font-family: var(--main-font) !important;
  font-style: italic;
  color: var(--font-color);
}

.about-text {
  position: relative;
  top: 120px;
  color: var(--font-color);
}

@media only screen and (min-width: 768px) {
  .welcome-section {
    min-height: 100vh;
    height: fit-content;
  }
}

@media only screen and (min-width: 1200px) {
  .about-line-break {
    display: none;
  }
}
