.welcome-section {
  background-color: white;
  margin: 50px auto 10px;
  width: 100%;
  min-height: 100vh;
  padding: 150px 0;
  text-align: center;
}

.about-container {
  height: 840px;
  width: 90%;
  margin: 0 auto;
}

.about-heading {
  position: relative;
  top: 60px;
  font-family: var(--main-font) !important;
  font-style: italic;
}

.about-text-name {
  background: #00cf98;
  background: linear-gradient(to right, #00cf98 0%, #ccff11 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 20px !important;
}

.about-text-profession {
  color: var(--main-font);
  margin-bottom: 50px !important;
}

.about-text-about-me {
  position: relative;
  top: 120px;
  color: var(--font-color);
  font-family: Montserrat, sans-serif !important;
}

@media only screen and (min-width: 768px) {
  .welcome-section {
    min-height: 100vh;
    height: fit-content;
  }
}

@media only screen and (min-width: 1200px) {
  .about-line-break {
    display: none;
  }
}
