.single-project-container {
  padding: var(--spacing-lg) 0;
}

.project-title {
  margin-bottom: var(--spacing-lg) !important;
  font-family: var(--main-font) !important;
  font-style: italic;
}

.content {
}

.image-container {
}

.project-image {
  border-radius: 10px;
  width: 100%;
  margin-bottom: var(--spacing-lg) !important;
}

.project-description {
  line-height: 2 !important;
  margin-bottom: var(--spacing-md) !important;
}
