.single-project-container {
  margin-bottom: calc(var(--spacing-xl) + var(--spacing-xl));
}

.project-title {
  margin-bottom: var(--spacing-lg) !important;
  font-family: var(--main-font) !important;
  font-style: italic;
}

.technologies-container {
  display: flex;
  justify-content: space-around;
  /* justify-content: left; */
  width: 100%;
  height: 40px;
  margin-bottom: var(--spacing-md);
}

.technologies-container > img {
  margin-right: var(--spacing-xs);
}

.images-container {
  display: block;
}

.images-container > div > span {
  display: block;
  font-weight: bold;
}

.project-image {
  border-radius: 10px;
  margin-bottom: var(--spacing-sm) !important;
}

.desktop-image {
  border: 5px solid #f5f5f5;
  border-radius: 10px;
  width: 100%;
}

.mobile-image {
  border: 5px solid #f5f5f5;
  border-radius: 10px;
  width: 100%;
  max-width: 300px;
}

.app-stack-and-urls-section {
  margin-bottom: var(--spacing-md);
}

.app-stack {
  height: var(--spacing-md) !important;
  display: flex;
  margin-bottom: var(--spacing-md);
}

.app-stack > span {
  display: flex;
  margin-right: var(--spacing-sm);
}

.checkbox-icon {
  padding: 0 5px;
  color: #2ad97d;
}

.not-present-icon {
  padding: 0 5px;
  color: #d92a2a;
}

.description-section {
  width: 100%;
  /* width: 75%; */
  display: block;
  margin-bottom: var(--spacing-md) !important;
}

.project-description {
  margin-bottom: var(--spacing-sm) !important;
}

.project-urls {
  display: flex;
  margin-bottom: var(--spacing-sm) !important;
  width: 100%;
}

.project-urls .separator {
  margin: 0 10px;
}

.project-urls > a {
  color: var(--font-color) !important;
}

.features-section {
  margin-bottom: var(--spacing-md);
}

.project-features li {
  list-style-type: initial;
  text-align: left;
}

.screenshot-section {
  margin-bottom: var(--spacing-md);
}

.screenshots-container {
  margin: var(--spacing-sm) auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.screenshot {
  /* max-width: 480px; */
}

.screenshots-container img {
  border: 5px solid #f5f5f5;
  border-radius: 10px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  .technologies-container {
    justify-content: left;
  }

  .app-stack {
    margin-bottom: var(--spacing-xs);
  }

  .screenshot {
    width: 75%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .images-container {
    display: flex;
    justify-content: space-between;
  }
  .desktop-image-container {
    width: 75%;
  }

  .desktop-image,
  .mobile-image {
    max-height: 426px !important;
    overflow: hidden;
  }

  .mobile-image-container {
    width: 20%;
  }

  .description-section {
    width: 75%;
  }

  .screenshot {
    width: 45%;
  }
}

@media only screen and (min-width: 992px) {
}
