.single-project-container {
}

.project-title {
  margin-bottom: var(--spacing-lg) !important;
  font-family: var(--main-font) !important;
  font-style: italic;
}

.technologies-container {
  display: flex;
  justify-content: left;
  width: 100%;
  height: 40px;
  margin-bottom: var(--spacing-sm);
}

.technologies-container > img {
  margin-right: 10px;
}

.images-container {
  display: block;
}

.images-container > div > span {
  display: block;
  font-weight: bold;
}

.project-image {
  border-radius: 10px;
  margin-bottom: var(--spacing-sm) !important;
}

.desktop-image {
  width: 100%;
}

.mobile-image {
  width: 100%;
  max-width: 300px;
  /* width: 20%;
  height: 400px; */
}

.app-stack {
  display: flex;
}

.app-stack > span {
  display: flex;
  margin: 0 10px var(--spacing-md);
}

.checkbox-icon {
  padding: 0 5px;
  color: #2ad97d;
}

.not-present-icon {
  padding: 0 5px;
  color: #d92a2a;
}

.project-description {
  display: block;
  margin-bottom: var(--spacing-md) !important;
  font-style: italic;
  line-height: 2 !important;
}

.project-urls {
  display: flex;
  margin-bottom: var(--spacing-md) !important;
  width: 100%;
}

.project-urls .separator {
  margin: 0 10px;
}

.project-urls > a {
  color: var(--font-color) !important;
}

@media only screen and (min-width: 600px) {
  .mobile-image {
  }
}

@media only screen and (min-width: 768px) {
  .images-container {
    display: flex;
    justify-content: space-between;
  }
  .desktop-image-container {
    width: 75%;
  }

  .desktop-image,
  .mobile-image {
    max-height: 426px !important;
    overflow: hidden;
  }

  .mobile-image-container {
    width: 20%;
  }
}

@media only screen and (min-width: 992px) {
}
