:root {
  --border-radius: 30px;
  --spacing-xs: 8px;
  --spacing-sm: 16px;
  --spacing-md: 32px;
  --spacing-lg: 64px;
  --spacing-xl: 128px;

  --white: #fff;
  --font-color: #333;

  --main-color: #fff;
  --main-color-light: #f0f0f0;

  --action-color: #1aff8c;
  --action-color-light: #84ffa9;

  --social-icon-color: #48ff05;

  --main-font: "Permanent Marker", cursive;
  --secondary-font: "Montserrat", sans-serif;

  --skills-contact-height: 80vh;
}

::-webkit-scrollbar {
  border-radius: var(--border-radius);
  width: 13px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--border-radius);
  background: #888;
  box-shadow: 10px 15px 5px #4d4d4d inset;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: var(--dark-blue);
}

body,
p {
  font-family: var(--secondary-font) !important;
  font-weight: 100;
  word-spacing: 3px;
  line-height: 1.5;
}

div {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--main-font) !important;
  margin-bottom: var(--spacing-xs) !important;
}

li {
  list-style-type: none;
}

.App {
  text-align: center;
}

.skills-heading,
.certifications-heading,
.projects-heading,
.contact-heading {
  font-family: var(--main-font) !important;
  margin-bottom: var(--spacing-lg) !important;
}

.navbar-container,
.home-container,
.skills-container,
.projects-container,
.contact-container {
  max-width: 1080px !important;
}
